django>=5.0
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-cors-headers
psycopg
google-generativeai
razorpay
resend
firebase-admin
pdfplumber
python-docx
python-dotenv
pymupdf
pypdf
reportlab
celery
redis
